/app/Config
/uploads
/OBRYSY_GENERATOR
/temporary
/app/Views/templates_c
.vscode/ftp-kr.sync.cache.json
/app/Storage
/app/Views/templates_c/
.vscode/
/php
img_components
img_computers_products